*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
/*-------------------------------------------Start:HEADER-------------------------------------------*/
.header{
    margin: 0px;
    padding: 20px;
    background:#BDD0C0;
    color: black;
    border-radius: 15px;
    position: sticky;
    top:0;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.heading{
    font-size: 30px;
    color:#665430;
}
.header h1{
    display: inline-block;
}
.logo-container img{
    height: 100px;
   

}
.logo-container,.user-profile,.nav{
    display: inline-block;
}
.user-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    
}
.user-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav a{
    color: #665430;
   font-size: 30px;
   text-decoration: none;
}
.nav a:hover,.nav a:active
{
    color: black;
}
.h1{
    font-size: 40px;
    color:#4B3619;
}
.hello{
    color:#4B3619;
    font-size: 30px;
    position: relative;
    right: 6px;
}
.hello img{
    width:8px;
    height: 8px;

}

/*--------------------------------------------End:HEADER-------------------------------------------*/

/*----------------------------------------Start:Main Container-------------------------------------------*/

.main-container{
    padding: 30px;
    padding-bottom: 500px;
    background-color: #F9FAF4


    ;
}
.card{
    
    width: 100px;
    height: 350px ;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
    background-color: #ffffff;


}
.card img{
    width: 180px;
    border-radius: 10px;
}

.item-title{
    width: 70%;
    padding: 20px 10px;
}
.cards-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.btn-primary{
    width: 180px;
    height: 20px;
    background: #665430;
    color: white;
    border: 0;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: #948C54;
    color: white;
}
.cards-container .card{
    width:200px;
    background-color: #BDD0C0;

}
.like {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #BDD0C0;
    position:relative;
    left: 146px;
    top: 35px;

}
.like img{
    width: 30px;
    height: 30px;
    position: absolute;

}
.main-container .heading{
    position: relative;
    left: 30px;
}
.card img:hover{
    transform: scale(1.05);
}

/*--------------------------------------------End:Main Container-------------------------------------------*/


/*--------------------------------------End of 1st page style-----------------------------------------------*/

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}
nav .logo{
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    margin: 0 10px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
nav ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 0;
    height: 2.5px;
    transition: all 0.3s ease;
}
nav ul li a:hover::before{
    width: 100%;
}
nav ul i{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.flex-box{
    display: flex;
    width: 1000px;
    margin: 20px auto;
}
.left{
    width: 40%;
}
.big-img{
    width: 250px;
}
.big-img img{
    width: inherit;
}
.images{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
}
.small-img{
    width: 50px;
    overflow: hidden;
    border: 1.5px solid black;
}
.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(1.2);
}
.right .url{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 102, 255);
}
.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}
.ratings i{
    color: rgb(255, 136, 0);
}
.price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}
.psize.active{
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
}
.quantity{
    display: flex;
}
.quantity p{
    font-size: 18px;
    font-weight: 500;
}
.quantity input{
    width: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}
.btn-box{
    display: flex;
    margin-top: 40px;
}
.btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.cart-btn{
    background-color: #ff5e00;
    margin-right: 20px;
}
.buy-btn{
    background-color: #00aeff;
}
.cart-btn:hover{
    background-color: #143109;
}
.buy-btn:hover{
    background-color: #5F6552;
} */